<div class="row">
  <div class="col-md-6 col-sm-12" style="padding: 15px" *ngFor="let project of projectDetails">
    <div class="card">
      <div class="img-contianer">
        <img [src]="project.image" style="object-fit: cover;" height="200px" class="card-img-top" alt="...">
        <p class="buy-now-block" *ngIf="project?.available">Buy Now</p>
        <p class="location-block">{{project.location}} - {{project.country}}</p>
        <p class="price-block" *ngIf="project?.available && project?.price"> {{project.price | currency}} /ton</p>
      </div>
      <div class="card-body">
        <p class="title">{{project.title}}</p>
        <p class="mass">{{project.mass | number}} lbs. offset</p>
        <p class="card-text txt">
          {{project.description}}
        </p>
      </div>
    </div>
</div>
</div>
